     /* myPage.css */
 .my-page-container {
     padding: 1rem;
 }

.sidebar-container {
    background-color: #f8f9fa;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-container {
    padding: 1rem;
}

.content-wrapper {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
}

/* 모바일 화면에서의 스타일 */
@media (max-width: 767.98px) {
    .vh-100 {
        height: auto !important; /* 모바일에서는 높이 자동 조정 */
    }

    .sidebar-container {
        margin-bottom: 1rem;
        border-radius: 0.5rem;
    }

    .dropdown-menu-container {
        width: 100%;
    }
}

/* 데스크탑 화면에서의 스타일 */
@media (min-width: 768px) {
    .sidebar-container {
        height: 100%;
        border-radius: 0.5rem;
    }
}