.my-page-container {
    display: flex;
    height: 100vh;
    background-color: #f8f9fa; /* 전체 배경 통일 */
}

/* 사이드바 스타일 */
.sidebar-container {
    width: 250px; /* 사이드바 너비 조정 */
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #ddd; /* 구분선 */
}

/* 메인 콘텐츠 */
.content-container {
    flex-grow: 1; /* 나머지 공간을 차지하도록 설정 */
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    padding: 20px;
}
